@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Colors */

/*
60% of #2960C0 - Primary
30% of #29ABC0 - Secondary
10% of #29C089 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #2960C0; 

/* var(--secondaryColor) !important; */
--secondaryColor: #29ABC0;

/* var(--accentColor) !important; */
--accentColor: #29C089;

/* var(--fontFamily) !important; */
--fontFamily: "Roboto", serif;

}