@import 'global.css';
@import 'main.css';

p {
    font-family: var(--fontFamily) !important; 
}

.blinn-fa-icon {
    font-size: 60px;
    color: black;
}

.blinn-fa-container {
    background-color: var(--secondaryColor) !important;
    padding: 50px;
}

.blinn-fa-icon a{
    color: white;
}

.paragraph-one-img {
    position: relative;
    float: right;
    max-width: 280px;
    width: 100%;
    height: auto;
    padding-left: 15px;
}


#custom-clip-path {
    width: 100%;
    height: 280px;
    background-color: var(--secondaryColor) !important;
    clip-path: polygon(46% 0, 100% 0, 66% 100%, 0 99%);
}